# Java / Maven
**/target/
*.class
*.jar

# VS Code
.vscode/
**/.vscode/

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/crash.log


# Terraform Lock File
**/.terraform.lock.hcl

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
infra/terraform.tfvars